<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.kicksdrop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KicksDrop">
        <activity
            android:name=".ui.cart.CartListView"
            android:exported="true" />
        <activity
            android:name=".ui.coupon.CouponProduct"
            android:exported="true" />
        <activity
            android:name=".ui.Product.ProductInfo"
            android:exported="true" />
        <activity
            android:name=".ui.home.HomeChild.sectionProductBranchOne"
            android:exported="true" />
        <activity
            android:name=".ui.profile.ProfileChild.EditProfile"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>